@use './../variables' as v;
.appWrapper {
    min-height: 100vh;
    background-color: black;
    width: 100%;
    padding-bottom: 20px;
    overflow-x: hidden;

    .navBar {
        font-family: v.$font2;
        font-size: 24px;
        color: white;
        position: absolute;
        width: 100%;
        display: flex;
        top: 5px;
        z-index: 5;
    
        p {
            padding-left: 10px;
        }
    
        ul {
            position: absolute;
            top: 0;
            right: 30px;
            li {
                display: inline;
                padding: 0 20px;
                .navLink{
                    color: white;
                    text-decoration: none;
                    transition: .2s linear;
                    cursor: pointer;
                    &:hover {
                        color: v.$beige;
                    }
                }
            }
        }
    }
}


