@use './../variables' as v;

.brandWrapper {
    padding-top: 8%;
    color: white;
    text-align: center;
    h1 {
        font-family: v.$font1;
        font-size: 45px;
    }
    .printerList {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        max-width: 2000px;
    }
}