@use './../variables' as v;

.browseWrapper {
    padding-top: 8%;
    color: white;
    text-align: center;
    font-family: v.$font1;
    padding-bottom: 4em;
    .browseList {
        max-width: 1000px; 
        margin: 0 auto;
        border-radius: 3px;
        .brand {
            height: 150px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            cursor: pointer;
            transition: .3s ease-in-out;
            img {
                height: 200px;
                pointer-events: none;
            }
            h1 {
                pointer-events: none;
            }
            p {
                color: v.$red;
                font-size: 15px;
            }
            &:nth-child(odd) {
                background-image: url('./../images/browse/light3.png');
                color: black;
                border-left: 2px solid white;
                border-right: 2px solid white;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                p {
                    span {
                        color: v.$darkPurple;
                    }
                }
                img{
                    margin-left: 50px;
                }
                &:hover {
                border-left: 2px solid black;
                border-right: 2px solid black;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                }
            }
            &:nth-child(even) {
                background-image: url('./../images/browse/dark2.png');
                border-left: 2px solid black;
                border-right: 2px solid black;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                p {
                    span {
                        color: v.$olive;
                    }
                }
                img{
                    margin-right: 50px;
                }
                &:hover {
                border-left: 2px solid white;
                border-right: 2px solid white;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .browseWrapper {
        .browseList {
            .brand {
                &:nth-child(odd) {
                    img {
                        margin-left: 5px;
                    }
                }
                &:nth-child(even) {
                    img {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}