@use './../variables' as v;

.printerWrapper {
    width: 500px;
    height: 500px;
    position: relative;
    margin-bottom: 30px;
    .circle {
        background-color: white;
        border-radius: 50%;
        width: 330px;
        height: 500px;
        position: absolute;
        top: 0;
        right: 20%;
        transform: rotate(40deg) translateY(-40px);
        z-index: 0;
    }
    .printer {
        z-index: 1;
        position: absolute;
        top: 5%;
        left: 5%;
        cursor: pointer;
    }
    .brandName {
        color: white;
    }
    .printerName {
        font-family: v.$font2;
        font-size: 40px;
        color: v.$olive;
        position: absolute;
        bottom: 18px;
        left: 0;
        right: 0;
        text-align: center;
        transform:translateX(-30px);
    }
    .printerPrice {
        color: v.$red;
        font-family: v.$font1;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        transform:translateX(-30px);
    }
}

@media screen and (max-width: 500px) {
    .printerWrapper {
        width: 100%;
        .circle {
            width: 300px;
            height: 400px;
            right: 10%;
            transform: rotate(40deg) translateY(0);
        }
        .printer {
            top: 0;
            left: 0;
        }
        .printerName {
            transform: translateX(0);
            bottom: 70px;
        }
        .printerPrice {
            transform: translateX(0);
            bottom: 50px;
        }
    }
}